body{
	width: 770px;
	background-color: #F2F2F2;
	font-family: georgia, serif;
	font-size: 16px;
	margin-top: 50px;
	margin-left: 100px;
	line-height: 25px;
}
.title{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 15px;
}
.subhead {
	font-weight: bold;
}
.picture {
	margin-top: 10px;
}
.container{
	margin: auto;
	width: 750px;
	background-color: #F2F2F2;
	padding: 10px;
	line-height: 20px;
	margin-top: 15px;
	border: 7px solid black;
	margin-left: -10px;
}
.project{
	margin-bottom: 10px;
}
img {
	margin-left: 70px;
}
@media (max-width: 2000px) {
	.show-desktop {
		display: block;
	}
	.show-tablet {
		display: none;
	}
	.show-mobile {
		display: none;
	}
}
@media (max-width: 1000px) {
	.show-desktop {
		display: none;
	}
	.show-tablet {
		display: block;
	}
	.show-mobile {
		display: none;
	}
	body {
		background-color: #D8D8D8;
	}
}
@media (max-width: 600px) {
	.show-desktop {
		display: none;
	}
	.show-tablet {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	body {
		background-color: #F2F2F2;
	}	
}