body{
	width: 770px;
	background-color: #E8E8E8;
	font-family: georgia, serif;
	font-size: 16px;
	margin-top: 50px;
	margin-left: 100px;
	line-height: 25px;
}
.title{
	font-weight: bold;
}
.container{
	width: 750px;
	background-color: #D0D0D0;
	padding: 10px;
	line-height: 20px;
	margin-top: 15px;
	border: 10px solid #707070;
}
.border{
	border: 3px solid #888888;
}
.project{
	margin-bottom: 10px;
}